{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wayve Pool League{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="background-image"></div>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-content">
            <a href="{% url 'profile' %}">Player Profile</a>
            <a href="{% url 'fixtures' %}">Your Matches</a>
            <a href="#">Recent Matches</a>
            <a href="{% url 'standings' %}">League Table</a>
        </div>
        <a href="{% url 'landing_page' %}" class="logout-button">Logout</a>
    </div>

    <!-- Overlay for Sidebar in Mobile View -->
    <div id="sidebar-overlay" class="sidebar-overlay hidden" onclick="toggleSidebar()"></div>

    <!-- Main content container -->
    <div id="main-content" class="main-content">
        <header class="header">
            <h1 class="header-title">Wayve Pool League</h1>
            <span class="burger-menu" id="toggle-button" onclick="toggleSidebar()">
                <div></div>
                <div></div>
                <div></div>
            </span>
        </header>

        <main class="container">
            {% block content %}
            <!-- Page content goes here -->
            {% endblock %}
        </main>
    </div>

    <script>
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("open");
            document.getElementById("sidebar-overlay").classList.toggle("hidden");
        }
    </script>
</body>
</html>
